/***** Added Custom Font *****/
@font-face {
  font-family: 'CustomFont';
  src: url(../fonts/TS\ Block\ Bold.ttf) format(truetype);
}

@font-face {
  font-family: 'poppins';
  src: url(../fonts/Poppins-Regular.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'lexendDeca';
  src: url('../fonts/LexendDeca-VariableFont_wght.ttf') format(truetype);
}

/***** CSS Variable *****/
:root {

  /***** Colors *****/
  --body-color: #E5DEC6;
  --white-color: #f5f5f5;
  --secondary-color: #001524;
  --light-soft-purple: #125de7;
  --light-soft-purple-hover: #01328c;
  --primary-color: #DEFFF2;
  --dark-muted-gary: #464F51;
  --accent-color: #0FF4C6;
  --fix-dark-color: #001524;
  --fix-light-color: #f5f5f5;
  --header-bg: rgba(255, 255, 255, 0.2);
  --text-color: #1b1b1b;
  --light-gray-shade-color: rgba(128, 128, 128, 0.1);
  --light-gray-color: rgba(128, 128, 128, 0.45);


  /***** Font and typography *****/
  --header-font: "lexendDeca", sans-serif;
  --normal-font-size: 15px;
  --body-font: "neue-haas", sans-serif;
  --poppins-font: 'poppins', sans-serif;


}

.dark_mode {
  /***** Colors *****/
  --body-color: #001524;
  --white-color: #001524;
  --secondary-color: #fff8e7;
  --light-soft-purple: #acff30;
  --light-soft-purple-hover: #78c900;
  --primary-color: #DEFFF2;
  --dark-muted-gary: #a3b0b4;
  --accent-color: #0FF4C6;
  --fix-dark-color: #001524;
  --fix-light-color: #fff8e7;
  --header-bg: rgba(0, 21, 36, 0.2);
  --text-color: #f5f5f5;

}

h2 {
  font-size: 2.6rem;
  padding: 2rem 0;
}

h2>span {
  color: var(--light-soft-purple);
}

*::selection {
  background: var(--secondary-color);
  color: var(--white-color);
}

.top_loader {
  position: fixed;
  top: 0;
  height: 3px;
  background: var(--light-soft-purple);
  z-index: 11111;
  transform-origin: left;
  width: 100%;
  scale: 0 1;
  animation: loader linear;
  animation-timeline: scroll(y);
}

@keyframes loader {
  to {
    scale: 1 1
  }
}

.tooltip_parent .tooltip {
  position: absolute;
  bottom: -10px;
  width: 50px;
  margin-left: -25px;
  visibility: hidden;
  opacity: 0;
  background: #001524;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .4rem 1.5rem;
  transition: all 500ms;
}

.tooltip_parent:hover .tooltip {
  visibility: visible;
  opacity: 1;
}


@media (min-width:1024px) {
  :root {
    --normal-font-size: 16px;
  }
}

@media (max-width:576px) {
  :root {
    --normal-font-size: 12px;
  }
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--poppins-font);
  font-size: var(--normal-font-size);
  color: var(--secondary-color);
  background: var(--white-color);
  transition: all 0.3s;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}


/***** HEADER *****/


.header .nav {
  display: flex;
  margin: 0 20px;
  justify-content: center;
  align-items: center;
}

.header button {
  color: var(--secondary-color);
  border: none;
}

.header nav .nav_container {
  position: fixed;
  top: 0px;
  background: var(--header-bg);
  backdrop-filter: blur(16px);
  /* box-shadow: 0 2px 16px hsla(0, 0%, 100%, 0.5); */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 9999;
}

.header .nav_container .nav_logo #img_logo {
  filter: invert(100%);
  border-radius: 10px;
}

.header nav .nav_logo a {
  color: var(--secondary-color);
  font-weight: bolder;
  font-size: 18px;
}

.header nav .nav_menu .nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-transform: uppercase; */
}



.header nav .nav_menu .nav_list li {
  font-weight: bolder;
  border-radius: 50px;
  margin-right: .3rem;
  cursor: pointer;
}

.header nav .nav_menu .nav_list li a {
  color: var(--secondary-color);
  border-radius: 50px;
  padding: .4rem .7rem;
  transition: all 0.15s step-start;
}

.header nav .nav_menu .nav_list li:hover a {
  color: var(--white-color);
  background: var(--light-soft-purple);

}

.header nav .nav_container .nav_menu_right .dark_toggle_icon {
  background: var(--white-color);
  color: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  padding: 0;
  font-size: 1.2rem;
  height: 40px;
}
/* .header nav .nav_container .nav_menu_right .dark_toggle_icon:hover,
.header nav .nav_container .nav_menu_right .dark_toggle_icon:active {
  background: var(--light-gray-shade-color);
} */

.header nav .nav_container .nav_menu_right .dark_toggle_icon i {
  fill: var(--white-color);
}


.dark_toggle_icon i:last-child {
  display: none;
}

.dark_mode .dark_toggle_icon i:first-child {
  display: none;
}

.dark_mode .dark_toggle_icon i:last-child {
  display: block;
}

.header nav .nav_container .nav_menu_right a.nav_link {
  padding: 8px 16px;
}

.header nav .nav_container .nav_menu_right a.nav_links {
  color: var(--white-color);
  border-radius: 50px;
  padding: 7px 16px;
  background: var(--light-soft-purple);
}

.header nav .nav_container .nav_menu_right .nav_menu_sm {
  background: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  padding: .1rem;
  border-radius: 50%;
}
/* .header nav .nav_container .nav_menu_right .nav_menu_sm:hover,
.header nav .nav_container .nav_menu_right .nav_menu_sm:active {
  background: var(--light-gray-shade-color);

} */


.active {
  background: var(--light-soft-purple);
  color: var(--white-color) !important;
}


@media (max-width:992px) {
  .header nav .nav_menu.show {
    left: 0%;
  }

  .header nav .nav_container.toggle {
    transition: all .50s ease;
    background: var(--light-soft-purple);
    
  }
  .header nav .nav_menu {
    position: absolute;
    top: 100%;
    left: 100%;
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: var(--light-soft-purple);
    transition: all .50s ease;
    font-size: 4vh;
    text-align: center;
  }
  .header nav .nav_menu .nav_list {
    display: block;
    margin: 12px 0 !important;
    padding: 0 25px !important;
    transition: all .50s ease;
  }
}





/***** BANNER SECTION *****/

#banner {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner .row_banner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 5% 0;
}

#banner h1 {
  font-weight: bolder;
  font-size: 4rem;
  word-wrap: nowrap;
  white-space: nowrap;
}

#banner p.text_hi {
  font-weight: bolder;
  display: inline-block;
  border-radius: 10px;
  padding: 5px;
}

#banner .banner_left_content .content_btn .btn {
  border: 1px solid var(--dark-muted-gary);
  max-width: 200px;
  width: 100%;
  border-radius: 50px;
  margin: 6px 0;
  /* color: var(--secondary-color); */
  transition: border 0.01s ease-out;
}

#banner .content_btn .btn_envelope {
  color: var(--white-color);
  background: var(--light-soft-purple);
  padding: .7rem 1.5rem;
  transition: all .3s;


  &:hover {
    background: var(--light-soft-purple-hover);
  }
}

#banner .content_btn .btn_download {
  color: var(--dark-color);
  transition: all .3s;
  padding: .7rem 1.5rem;


  &:hover {
    background: rgba(128, 128, 128, 0.2);
  }
}

#banner .banner_img {
  overflow: hidden;
}

#banner .banner_img img.profile_pic {
  position: relative;
  z-index: 2;
  filter: grayscale(95%) brightness(125%) drop-shadow(5px 0px #F5F5F5);
}

#banner .banner_img .profile_container {
  position: relative;
  overflow: hidden;
  height: 50%;
  /* background: var(--light-soft-purple); */
}

#banner .banner_img .profile_container img.bg_layer {
  position: absolute;
  z-index: -11;
  bottom: 100px;
  left: 0;
  bottom: 0;
  filter: invert(1);
  opacity: 0.2;
  background: var(--light-soft-purple);
  transform: translate(60%, -20%) scale(1.5);
  border-radius: 100% 100% 20% 200%;
  max-width: 300px;
  width: 50%;
  max-height: 300px;
  height: 50%;
  object-fit: cover;
}

#banner .banner_img .profile_container .bg_box {
  background: var(--light-soft-purple);
  max-width: 300px;
  width: 50%;
  max-height: 300px;
  height: 50%;
  z-index: -22;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(60%, -20%) scale(1.5);
  border-radius: 100% 100% 20% 200%;
}







/* media query for banner*/

@media (max-width:768px) {

  body {
    font-size: 16px;
    overflow-x: hidden;
  }

  #banner {
    height: 100%;
  }

  #banner h1 {
    font-weight: bolder;
    font-size: 1.95rem;
  }

  #banner p.text_hi {
    font-weight: bolder;
    font-size: 16px;
  }

  #banner .row_banner {
    min-height: 100%;
  }

  #banner .banner_img img {
    width: 100%;
  }
}



/***** End HEADER *****/


/* content section */

#content {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
  text-transform: capitalize;
  font-family: var(--header-font);
}

#content .scroll_content h2 {
  font-size: 4rem;
}

#content .scroll_content {
  /* background: var(--light-soft-purple); */
  display: flex;
  color: var(--fix-dark-color);
  align-items: center;
  justify-content: space-evenly;
  white-space: nowrap;
  text-align: center;
  animation-name: anime;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes anime {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

#content .scroll_content i {
  font-size: 2rem;
  margin: auto 25px;
  color: var(--white-color);
}

@media (max-width:756px) {
  #content .scroll_content h2 {
    font-size: 8rem;
  }
}

/* About Me section style */
#about_me {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Services section style */

#services {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#services button {
  background: var(--light-soft-purple);
  padding: .4rem .9rem;
  border-radius: 50px;
  border: none;
  color: var(--white-color);
}

#services .services_cards_container {
  margin: 0 .1rem;
}

#services .services_cards {
  max-width: 400px;
  overflow: hidden;
  width: 100%;
  height: 285px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  backdrop-filter: blur(10px);
  background: var(--header-bg);
  border-radius: 20px;
  border: 1px solid #f5f5f520;
  color: var(--dark-color);
  margin-bottom: 1.5rem;
  box-shadow: 0 0 100px 10px var(--light-gray-shade-color);
}


#services .services_cards:nth-child(even) {
  margin-left: 1rem;
  margin-right: 1rem;
}

#services .services_cards .card_icon i {
  background: var(--light-soft-purple);
  color: var(--white-color);
  border-radius: 50%;
  padding: .5rem;
}



/* Tools section style */


#tools {
  /* background: var(--body-color); */
  min-height: 100vh;
  /* min-width: 100vw;                              */
  display: flex;
  justify-content: center;
  flex-direction: column;

}


#tools .tools_container>h2 {
  font-size: 2.6rem;
  padding: 2rem 0;
}


#tools .tools_col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#tools .tools_row .tools_col .tools_info {
  max-width: 200px;
  width: 100%;
  height: 90px;
  /* overflow: hidden; */
  font-size: 1.1rem;
  position: relative;
  border-radius: 15px;
  color: var(--fix-light-color);
  font-weight: bold;
  display: flex;
  /* background: var(--light-gray-shade-color); */
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2rem;
  /* border: 1px solid var(--light-gray-color); */
  box-shadow: inset 10px -5px 20px rgba(255, 255, 255, 0.178);
}

#tools .tools_container>h2 span {
  color: var(--light-soft-purple);
}

#tools .tools_row .tools_col .tools_info .top_per {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  box-shadow: 0 0 0 5px var(--white-color);
  font-size: .7rem;
  padding: .2rem .5rem;
  background: var(--light-soft-purple);
  border-radius: 50%;
  color: var(--white-color);
}

.figma {
  background: linear-gradient(90deg, #f24e1e, #a259ff, #1abcfe, #4fc08f) !important;
}

.sketch {
  background: linear-gradient(90deg, #f7b500, #f48200, #ea6c00) !important;
}

.photoshop {
  background: linear-gradient(90deg, #31a8ff, #001e36) !important;
}

.after_effect {
  background: linear-gradient(90deg, #967eff, #2a2d45) !important;
}

.storybook {
  background: #ff4785 !important;
}

.invision {
  background: #ff3366 !important;
}

.behance {
  background: linear-gradient(90deg, #1769ff, #1646c0) !important;
}

.remix {
  background: linear-gradient(90deg, #222222, #000000);
}

/* tools query */
@media (max-width:576px) {
  #tools>h2 {
    font-size: 2rem;
    padding: 0 0 2rem 0;
  }

  #tools {
    height: 100%;
  }
}


/* projects section */

#projects {
  min-height: 100vh;
  position: relative;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

#projects button {
  background: var(--light-soft-purple);
  padding: .4rem .9rem;
  border-radius: 50px;
  border: none;
  color: var(--white-color);
}


/***** Start Footer *****/

footer {
  background: var(--fix-dark-color);
  padding: 20px 5%;
  max-width: 100%;
  /* min-height: 25vw; */
  border-bottom: 5px solid var(--light-soft-purple);
  color: var(--fix-light-color);
}

footer .footer_center_content>h5 {
  font-weight: bolder;
}

footer .footer_center_content>h5 span:first-child {
  background: greenyellow;
  color: var(--fix-dark-color);
  padding: 0px 5px;
  border-radius: 10px;
}

footer .footer_center_content>h5 span:last-child {
  background: orange;
  color: var(--fix-dark-color);
  padding: 0px 5px;
  border-radius: 10px;
}

footer .footer_center_content .footer_input_sub {
  position: relative;

}

footer .footer_center_content .footer_input_sub input {
  outline: none;
  max-width: 250px;
  width: 100%;
  border: 1px solid var(--dark-muted-gary);
  padding: 10px 15px 10px 38px;
  border-radius: 50px;
}

footer .footer_center_content i {
  top: 8px;
  font-size: 20px;
  position: absolute;
  color: var(--dark-muted-gary);
  left: 10px;
}

footer .footer_center_content button[type='button'] {
  border: none;
  background: var(--light-soft-purple);
  padding: 10px;
  color: var(--white-color);
  border-radius: 50px;
}

footer .footer_top_content img {
  width: 35px;
  border-radius: 10px;
}

footer .footer_links a {
  color: var(--primary-color);
  transition: all .15s;
  border-bottom: 1px solid transparent;
}

footer .footer_links a:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

/***** End Footer *****/
